{% block content %}
<div  id="wrapper"  class="container" style="margin-bottom: 3em">
    <h1>Партнеры</h1>
    <br/>
    <div class="row">
        <div class="col-md-2 col-sm-3 col-xs-4">
            <div class="t8s-partner">
                <img src="{{'republic.jpg' | asset_url }}" class="img-thumbnail img-responsive t8-img--partner" alt=""/>
            </div>
        </div>
        <div class="col-md-2 col-sm-3 col-xs-4">
            <div class="t8s-partner">
                <img src="{{'115010.png' | asset_url }}" class="img-thumbnail img-responsive t8-img--partner" alt=""/>
            </div>
        </div>
        <div class="col-md-2 col-sm-3 col-xs-4">
            <div class="t8s-partner">
                <img src="{{'1266595360.gif' | asset_url }}" class="img-thumbnail img-responsive t8-img--partner" alt=""/>
            </div>
        </div>
        <div class="col-md-2 col-sm-3 col-xs-4">
            <div class="t8s-partner">
                <img src="{{'abebooks.gif' | asset_url }}" class="img-thumbnail img-responsive t8-img--partner" alt=""/>
            </div>
        </div>
        <div class="col-md-2 col-sm-3 col-xs-4">
            <div class="t8s-partner">
                <img src="{{'alibris.gif' | asset_url }}" class="img-thumbnail img-responsive t8-img--partner" alt=""/>
            </div>
        </div>
        <div class="col-md-2 col-sm-3 col-xs-4">
            <div class="t8s-partner">
                <img src="{{'amadeos.png' | asset_url }}" class="img-thumbnail img-responsive t8-img--partner" alt=""/>
            </div>
        </div>
        <div class="col-md-2 col-sm-3 col-xs-4">
            <div class="t8s-partner">
                <img src="{{'amazon.jpeg' | asset_url }}" class="img-thumbnail img-responsive t8-img--partner" alt=""/>
            </div>
        </div>
        <div class="col-md-2 col-sm-3 col-xs-4">
            <div class="t8s-partner">
                <img src="{{'chitaem-vmeste.jpg' | asset_url }}" class="img-thumbnail img-responsive t8-img--partner" alt=""/>
            </div>
        </div>
        <div class="col-md-2 col-sm-3 col-xs-4">
            <div class="t8s-partner">
                <img src="{{'Combook.ru.jpg' | asset_url }}" class="img-thumbnail img-responsive t8-img--partner" alt=""/>
            </div>
        </div>
        <div class="col-md-2 col-sm-3 col-xs-4">
            <div class="t8s-partner">
                <img src="{{'e5.ru.jpg' | asset_url }}" class="img-thumbnail img-responsive t8-img--partner" alt=""/>
            </div>
        </div>
        <div class="col-md-2 col-sm-3 col-xs-4">
            <div class="t8s-partner">
                <img src="{{'echo.jpg' | asset_url }}" class="img-thumbnail img-responsive t8-img--partner" alt=""/>
            </div>
        </div>
        <div class="col-md-2 col-sm-3 col-xs-4">
            <div class="t8s-partner">
                <img src="{{'Gazeta.ru.jpg' | asset_url }}" class="img-thumbnail img-responsive t8-img--partner" alt=""/>
            </div>
        </div>
        <div class="col-md-2 col-sm-3 col-xs-4">
            <div class="t8s-partner">
                <img src="{{'google-play-logo1.jpg' | asset_url }}" class="img-thumbnail img-responsive t8-img--partner" alt=""/>
            </div>
        </div>
        <div class="col-md-2 col-sm-3 col-xs-4">
            <div class="t8s-partner">
                <img src="{{'ingram.jpeg' | asset_url }}" class="img-thumbnail img-responsive t8-img--partner" alt=""/>
            </div>
        </div>
        <div class="col-md-2 col-sm-3 col-xs-4">
            <div class="t8s-partner">
                <img src="{{'knigaru.jpg' | asset_url }}" class="img-thumbnail img-responsive t8-img--partner" alt=""/>
            </div>
        </div>
        <div class="col-md-2 col-sm-3 col-xs-4">
            <div class="t8s-partner">
                <img src="{{'knigavsluh.png' | asset_url }}" class="img-thumbnail img-responsive t8-img--partner" alt=""/>
            </div>
        </div>
        <div class="col-md-2 col-sm-3 col-xs-4">
            <div class="t8s-partner">
                <img src="{{'KO-logo.jpg' | asset_url }}" class="img-thumbnail img-responsive t8-img--partner" alt=""/>
            </div>
        </div>
        <div class="col-md-2 col-sm-3 col-xs-4">
            <div class="t8s-partner">
                <img src="{{'labirint.jpg' | asset_url }}" class="img-thumbnail img-responsive t8-img--partner" alt=""/>
            </div>
        </div>
        <div class="col-md-2 col-sm-3 col-xs-4">
            <div class="t8s-partner">
                <img src="{{'litgaz.jpg' | asset_url }}" class="img-thumbnail img-responsive t8-img--partner" alt=""/>
            </div>
        </div>
        <div class="col-md-2 col-sm-3 col-xs-4">
            <div class="t8s-partner">
                <img src="{{'logo_main.gif' | asset_url }}" class="img-thumbnail img-responsive t8-img--partner" alt=""/>
            </div>
        </div>
        <div class="col-md-2 col-sm-3 col-xs-4">
            <div class="t8s-partner">
                <img src="{{'logo_t8.png' | asset_url }}" class="img-thumbnail img-responsive t8-img--partner" alt=""/>
            </div>
        </div>
        <div class="col-md-2 col-sm-3 col-xs-4">
            <div class="t8s-partner">
                <img src="{{'moscowbooks.gif' | asset_url }}" class="img-thumbnail img-responsive t8-img--partner" alt=""/>
            </div>
        </div>
        <div class="col-md-2 col-sm-3 col-xs-4">
            <div class="t8s-partner">
                <img src="{{'my-shop_ru_logo.gif' | asset_url }}" class="img-thumbnail img-responsive t8-img--partner" alt=""/>
            </div>
        </div>
        <div class="col-md-2 col-sm-3 col-xs-4">
            <div class="t8s-partner">
                <img src="{{'ogonek.jpg' | asset_url }}" class="img-thumbnail img-responsive t8-img--partner" alt=""/>
            </div>
        </div>
        <div class="col-md-2 col-sm-3 col-xs-4">
            <div class="t8s-partner">
                <img src="{{'or184a6.jpg' | asset_url }}" class="img-thumbnail img-responsive t8-img--partner" alt=""/>
            </div>
        </div>
        <div class="col-md-2 col-sm-3 col-xs-4">
            <div class="t8s-partner">
                <img src="{{'ozon.jpg' | asset_url }}" class="img-thumbnail img-responsive t8-img--partner" alt=""/>
            </div>
        </div>
        <div class="col-md-2 col-sm-3 col-xs-4">
            <div class="t8s-partner">
                <img src="{{'read.jpeg' | asset_url }}" class="img-thumbnail img-responsive t8-img--partner" alt=""/>
            </div>
        </div>
        <div class="col-md-2 col-sm-3 col-xs-4">
            <div class="t8s-partner">
                <img src="{{'rusreporter.jpeg' | asset_url }}" class="img-thumbnail img-responsive t8-img--partner" alt=""/>
            </div>
        </div>
        <div class="col-md-2 col-sm-3 col-xs-4">
            <div class="t8s-partner">
                <img src="{{'Setbook.ru.jpg' | asset_url }}" class="img-thumbnail img-responsive t8-img--partner" alt=""/>
            </div>
        </div>
        <div class="col-md-2 col-sm-3 col-xs-4">
            <div class="t8s-partner">
                <img src="{{'shop_1289563678.gif' | asset_url }}" class="img-thumbnail img-responsive t8-img--partner" alt=""/>
            </div>
        </div>
        <div class="col-md-2 col-sm-3 col-xs-4">
            <div class="t8s-partner">
                <img src="{{'Slon.ru.jpg' | asset_url }}" class="img-thumbnail img-responsive t8-img--partner" alt=""/>
            </div>
        </div>
        <div class="col-md-2 col-sm-3 col-xs-4">
            <div class="t8s-partner">
                <img src="{{'tehnopolis.gif' | asset_url }}" class="img-thumbnail img-responsive t8-img--partner" alt=""/>
            </div>
        </div>
        <div class="col-md-2 col-sm-3 col-xs-4">
            <div class="t8s-partner">
                <img src="{{'tvcenter.JPG' | asset_url }}" class="img-thumbnail img-responsive t8-img--partner" alt=""/>
            </div>
        </div>
        <div class="col-md-2 col-sm-3 col-xs-4">
            <div class="t8s-partner">
                <img src="{{'VM_LOGO.png' | asset_url }}" class="img-thumbnail img-responsive t8-img--partner" alt=""/>
            </div>
        </div>
        <div class="col-md-2 col-sm-3 col-xs-4">
            <div class="t8s-partner">
                <img src="{{'voxclub.png' | asset_url }}" class="img-thumbnail img-responsive t8-img--partner" alt=""/>
            </div>
        </div>
    </div>
</div>
{% endblock %}