{% block content %}
<div  id="wrapper"  class="container" style="margin-bottom: 3em">
    <h1>Партнеры</h1>
    <br/>

    <h3 class="lead">Основные партнеры</h3>
    <hr/>
    <div class="row">
    <div class="item__">
        <div class="item-partner">
            <div class="item-partner__">
                <img src="{{'main-partners-0001.png' | asset_url }}" class="img-partner" alt=""/>
            </div>
        </div>
    </div>
    <div class="item__">
        <div class="item-partner">
            <div class="item-partner__">
                <img src="{{'main-partners-0002.png' | asset_url }}" class="img-partner" alt=""/>
            </div>
        </div>
    </div>
    <div class="item__">
        <div class="item-partner">
            <div class="item-partner__">
                <img src="{{'main-partners-0003.png' | asset_url }}" class="img-partner" alt=""/>
            </div>
        </div>
    </div>
    <div class="item__">
        <div class="item-partner">
            <div class="item-partner__">
                <img src="{{'main-partners-0004.png' | asset_url }}" class="img-partner" alt=""/>
            </div>
        </div>
    </div>
    <div class="item__">
        <div class="item-partner">
            <div class="item-partner__">
                <img src="{{'main-partners-0005.png' | asset_url }}" class="img-partner" alt=""/>
            </div>
        </div>
    </div>
    </div>

    <br/> <br/>


    <h3 class="lead">Книжные магазины</h3>
    <hr/>

    <div class="row">
        <div class="item__">
            <div class="item-partner">
                <div class="item-partner__">
                    <img src="{{'book-shops-0001.png' | asset_url }}" class="img-partner" alt=""/>
                </div>
            </div>
        </div>
        <div class="item__">
            <div class="item-partner">
                <div class="item-partner__">
                    <img src="{{'book-shops-0002.png' | asset_url }}" class="img-partner" alt=""/>
                </div>
            </div>
        </div>
        <div class="item__">
            <div class="item-partner">
                <div class="item-partner__">
                    <img src="{{'book-shops-0003.png' | asset_url }}" class="img-partner" alt=""/>
                </div>
            </div>
        </div>
        <div class="item__">
            <div class="item-partner">
                <div class="item-partner__">
                    <img src="{{'book-shops-0004.png' | asset_url }}" class="img-partner" alt=""/>
                </div>
            </div>
        </div>
        <div class="item__">
            <div class="item-partner">
                <div class="item-partner__">
                    <img src="{{'book-shops-0005.png' | asset_url }}" class="img-partner" alt=""/>
                </div>
            </div>
        </div>
        <div class="item__">
            <div class="item-partner">
                <div class="item-partner__">
                    <img src="{{'book-shops-0006.png' | asset_url }}" class="img-partner" alt=""/>
                </div>
            </div>
        </div>
        <div class="item__">
            <div class="item-partner">
                <div class="item-partner__">
                    <img src="{{'book-shops-0007.png' | asset_url }}" class="img-partner" alt=""/>
                </div>
            </div>
        </div>
        <div class="item__">
            <div class="item-partner">
                <div class="item-partner__">
                    <img src="{{'book-shops-0008.png' | asset_url }}" class="img-partner" alt=""/>
                </div>
            </div>
        </div>
        <div class="item__">
            <div class="item-partner">
                <div class="item-partner__">
                    <img src="{{'book-shops-0009.png' | asset_url }}" class="img-partner" alt=""/>
                </div>
            </div>
        </div>

    </div>
    <br/><br/>
    <h3 class="lead">Интернет-магазины</h3>
    <hr/>

    <div class="row">
        <div class="item__">
            <div class="item-partner">
                <div class="item-partner__">
                    <img src="{{'internet-shops-0001.png' | asset_url }}" class="img-partner" alt=""/>
                </div>
            </div>
        </div>
        <div class="item__">
            <div class="item-partner">
                <div class="item-partner__">
                    <img src="{{'internet-shops-0002.png' | asset_url }}" class="img-partner" alt=""/>
                </div>
            </div>
        </div>
        <div class="item__">
            <div class="item-partner">
                <div class="item-partner__">
                    <img src="{{'internet-shops-0003.png' | asset_url }}" class="img-partner" alt=""/>
                </div>
            </div>
        </div>
        <div class="item__">
            <div class="item-partner">
                <div class="item-partner__">
                    <img src="{{'internet-shops-0004.png' | asset_url }}" class="img-partner" alt=""/>
                </div>
            </div>
        </div>
        <div class="item__">
            <div class="item-partner">
                <div class="item-partner__">
                    <img src="{{'internet-shops-0005.png' | asset_url }}" class="img-partner" alt=""/>
                </div>
            </div>
        </div>
        <div class="item__">
            <div class="item-partner">
                <div class="item-partner__">
                    <img src="{{'internet-shops-0006.png' | asset_url }}" class="img-partner" alt=""/>
                </div>
            </div>
        </div>
        <div class="item__">
            <div class="item-partner">
                <div class="item-partner__">
                    <img src="{{'internet-shops-0007.png' | asset_url }}" class="img-partner" alt=""/>
                </div>
            </div>
        </div>
        <div class="item__">
            <div class="item-partner">
                <div class="item-partner__">
                    <img src="{{'internet-shops-0008.png' | asset_url }}" class="img-partner" alt=""/>
                </div>
            </div>
        </div>
        <div class="item__">
            <div class="item-partner">
                <div class="item-partner__">
                    <img src="{{'internet-shops-0009.png' | asset_url }}" class="img-partner" alt=""/>
                </div>
            </div>
        </div>
        <div class="item__">
            <div class="item-partner">
                <div class="item-partner__">
                    <img src="{{'internet-shops-0010.png' | asset_url }}" class="img-partner" alt=""/>
                </div>
            </div>
        </div>
        <div class="item__">
            <div class="item-partner">
                <div class="item-partner__">
                    <img src="{{'internet-shops-0011.png' | asset_url }}" class="img-partner" alt=""/>
                </div>
            </div>
        </div>
        <div class="item__">
            <div class="item-partner">
                <div class="item-partner__">
                    <img src="{{'internet-shops-0012.png' | asset_url }}" class="img-partner" alt=""/>
                </div>
            </div>
        </div>
        <div class="item__">
            <div class="item-partner">
                <div class="item-partner__">
                    <img src="{{'internet-shops-0013.png' | asset_url }}" class="img-partner" alt=""/>
                </div>
            </div>
        </div>
        <div class="item__">
            <div class="item-partner">
                <div class="item-partner__">
                    <img src="{{'internet-shops-0014.png' | asset_url }}" class="img-partner" alt=""/>
                </div>
            </div>
        </div>
        <div class="item__">
            <div class="item-partner">
                <div class="item-partner__">
                    <img src="{{'internet-shops-0015.png' | asset_url }}" class="img-partner" alt=""/>
                </div>
            </div>
        </div>
        <div class="item__">
            <div class="item-partner">
                <div class="item-partner__">
                    <img src="{{'internet-shops-0016.png' | asset_url }}" class="img-partner" alt=""/>
                </div>
            </div>
        </div>
        <div class="item__">
            <div class="item-partner">
                <div class="item-partner__">
                    <img src="{{'internet-shops-0017.png' | asset_url }}" class="img-partner" alt=""/>
                </div>
            </div>
        </div>
        <div class="item__">
            <div class="item-partner">
                <div class="item-partner__">
                    <img src="{{'internet-shops-0018.png' | asset_url }}" class="img-partner" alt=""/>
                </div>
            </div>
        </div>
        <div class="item__">
            <div class="item-partner">
                <div class="item-partner__">
                    <img src="{{'internet-shops-0019.png' | asset_url }}" class="img-partner" alt=""/>
                </div>
            </div>
        </div>
    </div>

    <br/><br/>
    <h3 class="lead">СМИ</h3>
    <hr/>
    <div class="row">
        <div class="item__">
            <div class="item-partner">
                <div class="item-partner__">
                    <img src="{{'mass-media-0001.png' | asset_url }}" class="img-partner" alt=""/>
                </div>
            </div>
        </div>
        <div class="item__">
            <div class="item-partner">
                <div class="item-partner__">
                    <img src="{{'mass-media-0002.png' | asset_url }}" class="img-partner" alt=""/>
                </div>
            </div>
        </div>
        <div class="item__">
            <div class="item-partner">
                <div class="item-partner__">
                    <img src="{{'mass-media-0003.png' | asset_url }}" class="img-partner" alt=""/>
                </div>
            </div>
        </div>
        <div class="item__">
            <div class="item-partner">
                <div class="item-partner__">
                    <img src="{{'mass-media-0004.png' | asset_url }}" class="img-partner" alt=""/>
                </div>
            </div>
        </div>
        <div class="item__">
            <div class="item-partner">
                <div class="item-partner__">
                    <img src="{{'mass-media-0005.png' | asset_url }}" class="img-partner" alt=""/>
                </div>
            </div>
        </div>
        <div class="item__">
            <div class="item-partner">
                <div class="item-partner__">
                    <img src="{{'mass-media-0006.png' | asset_url }}" class="img-partner" alt=""/>
                </div>
            </div>
        </div>
        <div class="item__">
            <div class="item-partner">
                <div class="item-partner__">
                    <img src="{{'mass-media-0007.png' | asset_url }}" class="img-partner" alt=""/>
                </div>
            </div>
        </div>
        <div class="item__">
            <div class="item-partner">
                <div class="item-partner__">
                    <img src="{{'mass-media-0008.png' | asset_url }}" class="img-partner" alt=""/>
                </div>
            </div>
        </div>
        <div class="item__">
            <div class="item-partner">
                <div class="item-partner__">
                    <img src="{{'mass-media-0009.png' | asset_url }}" class="img-partner" alt=""/>
                </div>
            </div>
        </div>
        <div class="item__">
            <div class="item-partner">
                <div class="item-partner__">
                    <img src="{{'mass-media-0010.png' | asset_url }}" class="img-partner" alt=""/>
                </div>
            </div>
        </div>
        <div class="item__">
            <div class="item-partner">
                <div class="item-partner__">
                    <img src="{{'mass-media-0011.png' | asset_url }}" class="img-partner" alt=""/>
                </div>
            </div>
        </div>
        <div class="item__">
            <div class="item-partner">
                <div class="item-partner__">
                    <img src="{{'mass-media-0012.png' | asset_url }}" class="img-partner" alt=""/>
                </div>
            </div>
        </div>
        <div class="item__">
            <div class="item-partner">
                <div class="item-partner__">
                    <img src="{{'mass-media-0013.png' | asset_url }}" class="img-partner" alt=""/>
                </div>
            </div>
        </div>
        <div class="item__">
            <div class="item-partner">
                <div class="item-partner__">
                    <img src="{{'mass-media-0014.png' | asset_url }}" class="img-partner" alt=""/>
                </div>
            </div>
        </div>
        <div class="item__">
            <div class="item-partner">
                <div class="item-partner__">
                    <img src="{{'mass-media-0015.png' | asset_url }}" class="img-partner" alt=""/>
                </div>
            </div>
        </div>
        <div class="item__">
            <div class="item-partner">
                <div class="item-partner__">
                    <img src="{{'mass-media-0016.png' | asset_url }}" class="img-partner" alt=""/>
                </div>
            </div>
        </div>
        <div class="item__">
            <div class="item-partner">
                <div class="item-partner__">
                    <img src="{{'mass-media-0017.png' | asset_url }}" class="img-partner" alt=""/>
                </div>
            </div>
        </div>
        <div class="item__">
            <div class="item-partner">
                <div class="item-partner__">
                    <img src="{{'mass-media-0018.png' | asset_url }}" class="img-partner" alt=""/>
                </div>
            </div>
        </div>
        <div class="item__">
            <div class="item-partner">
                <div class="item-partner__">
                    <img src="{{'mass-media-0019.png' | asset_url }}" class="img-partner" alt=""/>
                </div>
            </div>
        </div>
        <div class="item__">
            <div class="item-partner">
                <div class="item-partner__">
                    <img src="{{'mass-media-0020.png' | asset_url }}" class="img-partner" alt=""/>
                </div>
            </div>
        </div>
        <div class="item__">
            <div class="item-partner">
                <div class="item-partner__">
                    <img src="{{'mass-media-0021.png' | asset_url }}" class="img-partner" alt=""/>
                </div>
            </div>
        </div>
    </div>

    <br/><br/>
    <h3 class="lead">Телевидение</h3>
    <hr/>

    <div class="row">
        <div class="item__">
            <div class="item-partner">
                <div class="item-partner__">
                    <img src="{{'tv-0001.png' | asset_url }}" class="img-partner" alt=""/>
                </div>
            </div>
        </div>
        <div class="item__">
            <div class="item-partner">
                <div class="item-partner__">
                    <img src="{{'tv-0002.png' | asset_url }}" class="img-partner" alt=""/>
                </div>
            </div>
        </div>
        <div class="item__">
            <div class="item-partner">
                <div class="item-partner__">
                    <img src="{{'tv-0003.png' | asset_url }}" class="img-partner" alt=""/>
                </div>
            </div>
        </div>
        <div class="item__">
            <div class="item-partner">
                <div class="item-partner__">
                    <img src="{{'tv-0004.png' | asset_url }}" class="img-partner" alt=""/>
                </div>
            </div>
        </div>
    </div>

    <br/><br/>
    <h3 class="lead">Радио</h3>
    <hr/>
    <div class="row">
        <div class="item__">
            <div class="item-partner">
                <div class="item-partner__">
                    <img src="{{'radio-0001.png' | asset_url }}" class="img-partner" alt=""/>
                </div>
            </div>
        </div>
        <div class="item__">
            <div class="item-partner">
                <div class="item-partner__">
                    <img src="{{'radio-0002.png' | asset_url }}" class="img-partner" alt=""/>
                </div>
            </div>
        </div>
        <div class="item__">
            <div class="item-partner">
                <div class="item-partner__">
                    <img src="{{'radio-0003.png' | asset_url }}" class="img-partner" alt=""/>
                </div>
            </div>
        </div>
        <div class="item__">
            <div class="item-partner">
                <div class="item-partner__">
                    <img src="{{'radio-0004.png' | asset_url }}" class="img-partner" alt=""/>
                </div>
            </div>
        </div>
        <div class="item__">
            <div class="item-partner">
                <div class="item-partner__">
                    <img src="{{'radio-0005.png' | asset_url }}" class="img-partner" alt=""/>
                </div>
            </div>
        </div>
        <div class="item__">
            <div class="item-partner">
                <div class="item-partner__">
                    <img src="{{'radio-0006.png' | asset_url }}" class="img-partner" alt=""/>
                </div>
            </div>
        </div>
    </div>

    <br/><br/>
    <h3 class="lead">Литературные премии</h3>
    <hr/>
    <div class="row">
        <div class="item__">
            <div class="item-partner">
                <div class="item-partner__">
                    <img src="{{'lit-prize-0001.png' | asset_url }}" class="img-partner" alt=""/>
                </div>
            </div>
        </div>
        <div class="item__">
            <div class="item-partner">
                <div class="item-partner__">
                    <img src="{{'lit-prize-0002.png' | asset_url }}" class="img-partner" alt=""/>
                </div>
            </div>
        </div>
        <div class="item__">
            <div class="item-partner">
                <div class="item-partner__">
                    <img src="{{'lit-prize-0003.png' | asset_url }}" class="img-partner" alt=""/>
                </div>
            </div>
        </div>
        <div class="item__">
            <div class="item-partner">
                <div class="item-partner__">
                    <img src="{{'lit-prize-0004.png' | asset_url }}" class="img-partner" alt=""/>
                </div>
            </div>
        </div>
        <div class="item__">
            <div class="item-partner">
                <div class="item-partner__">
                    <img src="{{'lit-prize-0005.png' | asset_url }}" class="img-partner" alt=""/>
                </div>
            </div>
        </div>
        <div class="item__">
            <div class="item-partner">
                <div class="item-partner__">
                    <img src="{{'lit-prize-0006.png' | asset_url }}" class="img-partner" alt=""/>
                </div>
            </div>
        </div>
        <div class="item__">
            <div class="item-partner">
                <div class="item-partner__">
                    <img src="{{'lit-prize-0007.png' | asset_url }}" class="img-partner" alt=""/>
                </div>
            </div>
        </div>
        <div class="item__">
            <div class="item-partner">
                <div class="item-partner__">
                    <img src="{{'lit-prize-0008.png' | asset_url }}" class="img-partner" alt=""/>
                </div>
            </div>
        </div>
    </div>

    <br/><br/>
    <h3 class="lead">Литературные площадки</h3>
    <hr/>
    <div class="row">
        <div class="item__">
            <div class="item-partner">
                <div class="item-partner__">
                    <img src="{{'lit-space-0001.png' | asset_url }}" class="img-partner" alt=""/>
                </div>
            </div>
        </div>
        <div class="item__">
            <div class="item-partner">
                <div class="item-partner__">
                    <img src="{{'lit-space-0002.png' | asset_url }}" class="img-partner" alt=""/>
                </div>
            </div>
        </div>
        <div class="item__">
            <div class="item-partner">
                <div class="item-partner__">
                    <img src="{{'lit-space-0003.png' | asset_url }}" class="img-partner" alt=""/>
                </div>
            </div>
        </div>
        <div class="item__">
            <div class="item-partner">
                <div class="item-partner__">
                    <img src="{{'lit-space-0004.png' | asset_url }}" class="img-partner" alt=""/>
                </div>
            </div>
        </div>
        <div class="item__">
            <div class="item-partner">
                <div class="item-partner__">
                    <img src="{{'lit-space-0005.png' | asset_url }}" class="img-partner" alt=""/>
                </div>
            </div>
        </div>
        <div class="item__">
            <div class="item-partner">
                <div class="item-partner__">
                    <img src="{{'lit-space-0006.png' | asset_url }}" class="img-partner" alt=""/>
                </div>
            </div>
        </div>
        <div class="item__">
            <div class="item-partner">
                <div class="item-partner__">
                    <img src="{{'lit-space-0007.png' | asset_url }}" class="img-partner" alt=""/>
                </div>
            </div>
        </div>
        <div class="item__">
            <div class="item-partner">
                <div class="item-partner__">
                    <img src="{{'lit-space-0008.png' | asset_url }}" class="img-partner" alt=""/>
                </div>
            </div>
        </div>
    </div>

</div>
{% endblock %}