{% block content %}
<div  id="wrapper"  class="container" style="margin-bottom: 3em">
    <h1>Партнеры</h1>
    <br/>
    <div class="row">
        <div class="col-md-2 col-sm-3 t8s-author">
            <img src="{{ '250x250' | placeholder}}" class="img-thumbnail img-responsive" alt=""/>
        </div>
        <div class="col-md-2 col-sm-3 t8s-author">
            <img src="{{ '250x250' | placeholder}}" class="img-thumbnail img-responsive" alt=""/>
        </div>
        <div class="col-md-2 col-sm-3 t8s-author">
            <img src="{{ '250x250' | placeholder}}" class="img-thumbnail img-responsive" alt=""/>
        </div>
        <div class="col-md-2 col-sm-3 t8s-author">
            <img src="{{ '250x250' | placeholder}}" class="img-thumbnail img-responsive" alt=""/>
        </div>
        <div class="col-md-2 col-sm-3 t8s-author">
            <img src="{{ '250x250' | placeholder}}" class="img-thumbnail img-responsive" alt=""/>
        </div>
        <div class="col-md-2 col-sm-3 t8s-author">
            <img src="{{ '250x250' | placeholder}}" class="img-thumbnail img-responsive" alt=""/>
        </div>
        <div class="col-md-2 col-sm-3 t8s-author">
            <img src="{{ '250x250' | placeholder}}" class="img-thumbnail img-responsive" alt=""/>
        </div>
        <div class="col-md-2 col-sm-3 t8s-author">
            <img src="{{ '250x250' | placeholder}}" class="img-thumbnail img-responsive" alt=""/>
        </div>
        <div class="col-md-2 col-sm-3 t8s-author">
            <img src="{{ '250x250' | placeholder}}" class="img-thumbnail img-responsive" alt=""/>
        </div>
        <div class="col-md-2 col-sm-3 t8s-author">
            <img src="{{ '250x250' | placeholder}}" class="img-thumbnail img-responsive" alt=""/>
        </div>

    </div>
</div>
{% endblock %}